<h3>Paragraph of Contract</h3>

<article class='event'>
	<p>Language: <%= @base_contract.language %></p>
	<p>Paragraph Number: <%= @base_contract.paragraph_number %></p>
	<p>Paragraph: <%= @base_contract.paragraph %></p>
	</article>
	
	<p><%= link_to 'Edit', edit_base_contract_path(@base_contract) %></p>