<aside id="sidebar">
  <nav>
    <ul> 
	 <li>
		 <%= form_tag villas_path, :method => 'get' do %>
		   <p>
		   	<%= number_field_tag :sleeps, params[:sleeps] %>
			<%= submit_tag :search, :name => nil %>
		   </p>
		 <% end %>
	 </li>
  </nav>
  <%= content_for(:side) %>
</aside>
